* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
  background-color: white;

}

header {
  background-color: #e6ad12;
  height: 75px;
  margin-bottom: 150px;
  
}

h1 {
  margin: 0 auto;
  text-align: center;
  
}

/* for nav Bar*/
.container{
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 20px;
}



.navlink a {
  list-style: none;
  text-decoration: none;
  font-size: 30px;
  color: #545149;
  
  
  
}

 #animoji {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}


.socialmedia {
  color: black;
}


/* Start of blog post styling*/


.wrapper {
  margin-top: 10%;

}

 .wrapper h1 {
   margin-bottom: 60px;
   text-align: center;
 }

 .posts {
   display: flex;
   text-align: center;
   width: auto;
   justify-content: center;
   flex-wrap: wrap;
   
 }

  .post {
    margin: 5px;
    margin-bottom: 80px;
    width: 300px;
    background-color: white;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
    border: solid grey;
    border-style: solid;
  }
    

  .post h3 {
    font-size: 20px;
    margin-top: 50px;
    color: teal;
  }

   .role {
     font-size: 15px;
     text-transform: uppercase;
     margin: 12px 0;
   }

   .post_img {
     height: 250Px;
     width: 250px;
     border-radius: 50%;
     align-items: center;
    
   }

   .post_img img {
     width: 250px;
     height: 250px;
     padding: 10px;
     
   }


.h2 {
    display: flex;
    font-family: monospace;
    justify-content: center;
   }

    .intro {
      margin-right: 20%;
      margin-left: 20%;
      
    }


    /*Footer*/
#footer {
  position: sticky;
  top: 100vh;
  background-color: #e6ad12;
}

footer {
background-color:#e6ad12 ;
}